
version = "1.0"

# The folder where to put temp data etc.
tmp_folder = "/path/to/folder";

app:
{
    send_port = 6869;
    receive_port = 6870;
};

mediator:
{
    host = "localhost";
    main: 
    {
        send_port = 7000;
        receive_port = 7001;
    };
    secondary:
    {
        send_port = 7002;
        receive_port = 7003;
    }
};