
version = "1.0"

# The folder where to put temp data etc.
tmp_folder = "/path/to/folder";

app:
{
    send_port = 6869;
    receive_port = 6870;
};

path_register:
{
    # Frequence in Hz
    save_frequency = 10;
    # The frequency of checkpoints
    saves_between_checkpoints = 50; # 5 seconds
};

mediator:
{
    host = "127.0.0.1";
    main: 
    {
        port = 7070;
    };
    secondary:
    {
        port = 7071;
    }
};